[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BayesianTools"]
	path = BayesianTools
	url = https://github.com/florianhartig/bayesiantools
	subdir = BayesianTools
[submodule "DHARMa"]
	path = DHARMa
	url = https://github.com/florianhartig/dharma
	subdir = DHARMa
